body {
    font-family: 'Roboto';
    font-size: 30px;
    background-color:rgb(157, 156, 142);
    
}
.about {
    padding: 90px 0;
    font-size: 50px;
}

.about-title {
    font-size: 50px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position:relative;
    text-transform: uppercase;
    color:firebrick;
}
.about-title::after {
    background: #20191a ;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
    
}
.about-text {
    color: #0b0b0b;
    font-size: 50pxpx;
    line-height: 30px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.about-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.display-4{
    color:rgb(47, 15, 46);
}
p{
    color: rgb(63, 54, 63);
}

    p{
        color: #52030b;
        text-align:center;
        font-size: 20px;
        font-style: italic;
        background-color:rgb(142, 105, 69);

    }
    
